
generaldb2.db
generaldb.db


.idea/
*.pyc
*.db

1602067418__0__tst_30532/
1602067473__0__tst_30598/
ILIAS-Formelfrage/
ILIAS-SingleChoice/
ILIAS-MultipleChoice/
ILIAS-Zuordnungsfrage/
ILIAS-Gemischte_Fragentypen/

